extends layout

block content
  .page-header
    h3 My Plays

  p.lead
    | This page will allow you to keep track of your game plays. Plays will have
    | a date, a list of players(which can be friends), a list of scores (for each player),
    | and a game (either one in your collection, a friend's collection, or a guest's)

  ul#playsTabs.nav.nav-tabs
    li.active
      a(href="#pastPlaysTab") Past Plays
    li
      a(href="#recordPlayTab") Record a Play

  .tab-content
    #pastPlaysTab.tab-pane.active
      h4 Past Plays
      #pastPlays(class="hidden", data-plays=plays)
      table#pastPlaysTable.table
        tr
          th Game
          th Date
          th Players

    #recordPlayTab.tab-pane
      .container-fluid
        h4 Record a Play
        #ownedGames(class="hidden", data-games=games)
        #allUsers(class="hidden", data-allUsers=allUsers)

        #formInfo

        form(role="form", action="javascript:PLAYHISTORY.plays.createPlay()")
          input(id='csrf', type='hidden', name='_csrf', value=token)
          .row
            .col-md-4
              #gameSelectGroup.form-group
                label(for=gameSelect) Game
                select#gameSelect.form-control
                  option
                p.help-block Add more games via the game page

          .row
            .col-md-4
              #dateSelectGroup.form-group
                .input-group.date
                  input#date.form-control(type='text', placeholder='Date')
                  span.input-group-addon
                    i.fa.fa-th

          .row
            .col-md-4
              #playersSelectGroup.form-group
                label(for=playersSelect) Other Players
                #user(data-user=user)
                select#playersSelect.form-control(multiple=true)
                  for user in allUsers
                    option(value=user._id) #{user.email}

          button#submitButton.btn.btn-default Submit
